@import "./radiobtn.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: "Raleway", sans-serif;
    line-height: 1;
    font-weight: 400;
    min-height: 100vh;
    &.dark {
        background: rgb(75, 72, 72);
        .tabs-content {
            background: rgb(138, 133, 133);
        }
        .tabs {
            li {
                &.active {
                    background: rgb(138, 133, 133);
                }
            }
            
        }
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

// .tabs {
//     display: flex;
//     flex-direction: column;

//     .tabs__links {
//         display: flex;
//         width: 100%;
//         overflow-x: auto;
//         overflow-y: hidden;
//         margin-left: auto;
//         margin-right: auto;
//         margin-bottom: 10px;
//         order: 0;
//         white-space: nowrap;
//         background-color: #fff;
//         border: 1px solid #e3f2fd;
//         box-shadow: 0 2px 4px 0 #e3f2fd;

//         a {
//             display: inline-block;
//             text-decoration: none;
//             padding: 6px 10px;
//             text-align: center;
//             color: #1976d2;
//             &:hover {
//                 background-color: rgba(227, 242, 253, 0.3);
//             }
//         }
//     }
// }
// .tabs > #t1:target ~ .tabs__links > a[href="#t1"],
// .tabs > #t2:target ~ .tabs__links > a[href="#t2"],
// .tabs > #t3:target ~ .tabs__links > a[href="#t3"] {
//     background-color: #bbdefb;
//     cursor: default;
// }

// .tabs > div:not(.tabs__links) {
//     display: none;
//     order: 1;
// }

// .tabs > div:target {
//     display: block;
// }
.tabs-nav {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            background: rgba(0, 0, 0, 0.78);
            color: #fefefe;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: #34495e;
            margin-right: 5px;
            a {
                display: block;
                padding: 10px 15px;
                font-weight: bold;
                color: #fff;
            }
            &.active {
                background: #fff;
                color: #000;
                a {
                    color: inherit;
                }
            }
        }
    }
    .tabs-content {
        border: 1px solid #34495e;
        padding: 10px;
        background: #fff;
        margin-top: -1px;
        overflow: hidden;
        // width: 700px;
        max-height: 715px;
        &:not(:first-child) {
            display: none;
        }
        img {
            max-width: 100%;
            max-height: 715px;
            display: flex;
        }
    }
}


