
.header {
    background: url("../img/header_bg_.jpg") no-repeat center/cover;
    padding: 50px 0;
    height: 770px;
    color: #fff;
}
.header {
    .container {
        h1 {
            font-size: 48px;
        }
    }
}
