*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 300;
  min-height: 100vh;
  background: #fff;
}

body.dark {
  background: #272626;
}

body.dark .themes2.dark {
  background: #272626;
  color: #9c9c9c;
}

body.dark .header__nav.dark {
  background: #272626;
}

body.dark .works.dark {
  background: #272626;
}

body.dark .about.dark {
  background: #272626;
  color: #e0e0e0;
}

body.dark .about.dark .about__teamItem {
  background: #272626;
  color: #e0e0e0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header li {
  color: #777777;
}

.header li.current-menu-item {
  color: #000;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  max-height: 90px;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: #fff;
}

.header .header__nav.fixed {
  position: fixed;
  z-index: 1000;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0 15px;
  border-radius: 10px;
}

.header .header__nav .header__logo {
  font-weight: 700;
  font-size: 30px;
}

.header .header__nav .header__navPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header__nav .header__navPart .header__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 760px) {
  .header .header__nav .header__navPart .header__navList {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    background: rgba(233, 230, 230, 0.801);
    z-index: 1000;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }
  .header .header__nav .header__navPart .header__navList.current-menu-item {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .header .header__nav .header__navPart .header__navList.current-menu-item li::after {
    left: 57px;
  }
  .header .header__nav .header__navPart .header__navList.current-menu-item li.current-menu-item a {
    color: #000;
  }
}

.header .header__nav .header__navPart .header__navList li {
  font-size: 14px;
  color: #777777;
  font-weight: 760;
  padding: 40px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

.header .header__nav .header__navPart .header__navList li a {
  -webkit-transition: 1s;
  transition: 1s;
  color: #777777;
}

.header .header__nav .header__navPart .header__navList li a:hover {
  color: #000;
}

.header .header__nav .header__navPart .header__navList li::after {
  content: "";
  position: absolute;
  left: -7px;
  bottom: 50%;
  width: 20px;
  height: 2px;
  background: #06060a;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header__nav .header__navPart .header__navList li:hover::after {
  opacity: 1;
}

.header .header__nav .header__navPart .header__navList li.current-menu-item::after {
  opacity: 1;
}

.header .header__nav .header__navPart .header__navList li.current-menu-item a {
  color: #000;
}

@media screen and (max-width: 760px) {
  .header .header__nav .header__navPart .header__navList li a {
    color: #777777;
    font-size: 24px;
  }
}

.header .header__nav .header__navPart .header__burger {
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid #777777;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  display: none;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header__nav .header__navPart .header__burger .header__line {
  display: block;
  width: 20px;
  height: 2px;
  background: #777777;
}

.header .header__nav .header__navPart .header__burger .header__line_middle {
  margin: 5px 0;
}

@media screen and (max-width: 760px) {
  .header .header__nav .header__navPart .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px;
    z-index: 1100;
  }
}

.header .header__nav .header__navPart .header__search {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

.header .header__nav .header__navPart .header__search .header__searchBtn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}

.header .header__nav .header__navPart .header__search .header__input {
  position: absolute;
  top: -10px;
  right: 20px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
  outline: none;
  padding: 10px 20px;
  width: 170px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  z-index: -1;
}

.header .header__nav .header__navPart .header__search .header__input.opened {
  opacity: 1;
  z-index: 1200;
}

.heading {
  height: 350px;
  height: 100%;
  width: 100%;
}

.heading .heading__item {
  position: relative;
  height: 100%;
  width: 100%;
}

.heading .heading__item .heading_img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading .heading__item .heading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading .heading__item .heading__container .heading__texts {
  top: 50%;
  left: 0;
}

.heading .heading__item .heading__container .heading__texts h1 {
  font-size: 48px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  background: #000;
  width: 600px;
  padding: 0 0 0 35px;
}

@media screen and (max-width: 880px) {
  .heading .heading__item .heading__container .heading__texts h1 {
    font-size: 30px;
    width: 430px;
  }
}

@media screen and (max-width: 650px) {
  .heading .heading__item .heading__container .heading__texts h1 {
    font-size: 20px;
    width: 330px;
  }
}

@media screen and (max-width: 650px) {
  .heading .heading__item .heading__container .heading__texts h1 {
    width: 220px;
  }
}

.heading .heading__item .heading__container .heading__texts p {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}

.footer {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer img {
  margin: 65px 0 45px;
}

.footer .footer__links {
  margin-bottom: 35px;
  padding: 25px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
}

.footer .footer__links a {
  font-size: 14px;
  color: #777777;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .footer__links a:not(:last-child) {
  margin-right: 55px;
}

.footer .footer__links a:hover {
  color: #000;
}

.footer p {
  font-size: 13px;
  color: #9c9c9c;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer p span {
  color: #000;
}

.footer .footer__btnUp {
  position: fixed;
  right: 15px;
  bottom: 80px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  content: "";
  opacity: 1;
  color: #4d4d4d;
  background: #dfdcdc;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .footer__btnUp.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__btnUp:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
}

.switcher {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 40px;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.601);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.601);
}

.switcher input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 180px;
  height: 40px;
  border-radius: 25px;
  background-color: #1e1e1e;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.switcher input:before, .switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
}

.switcher input:before {
  content: "Light";
  left: 20px;
}

.switcher input:after {
  content: "Dark";
  right: 20px;
}

.switcher label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 20px;
}

.switcher.switcher {
  overflow: hidden;
}

.switcher.switcher input {
  -webkit-transition: background-color 0s 0.5s;
  transition: background-color 0s 0.5s;
}

.switcher.switcher input:before {
  color: #1e1e1e;
}

.switcher.switcher input:after {
  color: #ffffff;
}

.switcher.switcher input:checked {
  background-color: #ffffff;
}

.switcher.switcher input:checked + label {
  background: #ffffff;
  -webkit-animation: turn-on 0.5s ease-out;
  animation: turn-on 0.5s ease-out;
}

@-webkit-keyframes turn-on {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes turn-on {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.switcher.switcher input:not(:checked) {
  background: #1e1e1e;
}

.switcher.switcher input:not(:checked) + label {
  background: #1e1e1e;
  -webkit-animation: turn-off 0.5s ease-out;
  animation: turn-off 0.5s ease-out;
}

@-webkit-keyframes turn-off {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes turn-off {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

.switcher.switcher label {
  top: 0px;
  width: 180px;
  height: 40px;
  border-radius: 25px;
}

.slider {
  height: 650px;
  height: 100%;
  width: 100%;
}

.slider .slider__slides {
  height: 100%;
  width: 100%;
  position: relative;
}

.slider .slider__slides .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 43%;
  width: 90%;
  height: 0;
  left: 5%;
}

.slider .slider__slides .owl-nav button {
  outline: none;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}

.slider .slider__slides .owl-nav button.disabled {
  background: none;
  border: 1px solid #fff;
}

.slider .slider__slides .owl-nav button.disabled span {
  color: #fff;
}

.slider .slider__slides .owl-nav button span {
  font-size: 50px;
  line-height: 0.5;
  color: #fff;
}

.slider .slider__slides .owl-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 0;
  left: 50%;
  margin-bottom: 50px;
}

.slider .slider__slides .owl-dots .owl-dot {
  position: relative;
  width: 10px;
  height: 10px;
  background: #fff !important;
  margin-right: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  outline: none;
  border-radius: 50%;
}

.slider .slider__slides .owl-dots .owl-dot.active {
  background: #000 !important;
}

.slider .slider__slides .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider .slider__slides .slider__slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider .slider__slides .slider__slide img {
  width: 100%;
}

.slider .slider__slides .slider__slide .slider__texts {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider .slider__slides .slider__slide .slider__texts h1 {
  font-size: 48px;
  letter-spacing: 5px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  background: #000;
  width: 700px;
}

@media screen and (max-width: 730px) {
  .slider .slider__slides .slider__slide .slider__texts h1 {
    font-size: 30px;
    width: 500px;
  }
}

@media screen and (max-width: 570px) {
  .slider .slider__slides .slider__slide .slider__texts h1 {
    font-size: 20px;
    width: 400px;
  }
}

.slider .slider__slides .slider__slide .slider__texts p {
  font-size: 18px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.works {
  padding-bottom: 70px;
  padding-top: 35px;
  background: #fafafa;
}

.works .works__nav {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 35px 0 30px;
}

.works .works__nav .works__btn {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.works .works__nav .works__btn.active, .works .works__nav .works__btn:hover {
  color: #000;
}

.works .works__nav hr {
  height: 30px;
  border: 0.7px solid #dfdfdf;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.works .works__items {
  margin-bottom: 40px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

@media screen and (max-width: 1150px) {
  .works .works__items {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 810px) {
  .works .works__items {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.works .works__items .work__item {
  position: relative;
  margin: 5px;
  display: none;
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.works .works__items .work__item.active {
  display: inline-block;
  width: 100%;
  float: left;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.works .works__items .work__item .works__pic {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works .works__items .work__item .works__pic img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.works .works__items .work__item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.384);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.works .works__items .work__item .overlay p {
  font-size: 80px;
  font-weight: lighter;
  color: #c9c9c9;
}

.works .works__items .work__item .overlay:hover {
  opacity: 1;
}

.works .works__load {
  cursor: pointer;
  width: 125px;
  height: 30px;
  background: #959595;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
  outline: none;
}

.works .works__load:hover {
  color: #959595;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
}

.works .fileLoad {
  display: none;
}

.about {
  padding: 75px 0 75px;
  background: #fafafa;
}

.about .about__storyItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about .about__storyItems .about__storyItem {
  max-width: 550px;
}

.about .about__storyItems .about__storyItem:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.about .about__storyItems .about__storyItem img {
  max-width: 100%;
}

.about .about__storyItems .about__storyItem .about__storyTexts h2 {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 35px;
}

.about .about__storyItems .about__storyItem .about__storyTexts p {
  line-height: 2;
  font-size: 14px;
  margin-bottom: 35px;
  max-width: 550px;
}

.about .about__storyItems .about__storyItem .about__storySkills h2 {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 35px;
}

.about .about__team .about__teamText {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 45px;
}

.about .about__team .about__teamSubtext {
  line-height: 2;
  font-size: 14px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto 70px;
}

.about .about__team .about__teamItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about .about__team .about__teamItems .about__teamItem {
  background: #fff;
  width: 360px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg {
  position: relative;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg img {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* margin-left: -262px; */
  content: "";
  background: #4e4b4b6c;
  z-index: 100;
  -webkit-transition: 1s;
  transition: 1s;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay .about__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay .about__socials .about__social {
  width: 32px;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay .about__socials .about__social:not(:last-child) {
  margin-right: 10px;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay .about__socials .about__social i {
  color: #fff;
  font-size: 20px;
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay .about__socials .about__social:hover {
  background: #ff000f;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.about .about__team .about__teamItems .about__teamItem .about__teamImg .about__teamOverlay:hover {
  opacity: 1;
}

.about .about__team .about__teamItems .about__teamItem .about__teamTexts {
  padding: 35px 35px 30px;
}

.about .about__team .about__teamItems .about__teamItem .about__teamTexts h2 {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about .about__team .about__teamItems .about__teamItem .about__teamTexts h6 {
  font-size: 18px;
  font-weight: 500px;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.about .about__team .about__teamItems .about__teamItem .about__teamTexts p {
  line-height: 1.6;
  font-size: 14px;
}

.works {
  padding-bottom: 70px;
  padding-top: 35px;
  background: #fafafa;
}

.works .works__nav {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 35px 0 30px;
}

.works .works__nav .works__btn {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.works .works__nav .works__btn.active, .works .works__nav .works__btn:hover {
  color: #000;
}

.works .works__nav hr {
  height: 30px;
  border: 0.7px solid #dfdfdf;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.works .works__items {
  margin-bottom: 40px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

@media screen and (max-width: 1150px) {
  .works .works__items {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 810px) {
  .works .works__items {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.works .works__items .work__item {
  position: relative;
  margin: 5px;
  display: none;
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.works .works__items .work__item.active {
  display: inline-block;
  width: 100%;
  float: left;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.works .works__items .work__item .works__pic {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works .works__items .work__item .works__pic img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.works .works__items .work__item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.384);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.works .works__items .work__item .overlay p {
  font-size: 80px;
  font-weight: lighter;
  color: #c9c9c9;
}

.works .works__items .work__item .overlay:hover {
  opacity: 1;
}

.works .works__load {
  cursor: pointer;
  width: 125px;
  height: 30px;
  background: #959595;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
  outline: none;
}

.works .works__load:hover {
  color: #959595;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
}

.works .fileLoad {
  display: none;
}
