.footer {
    height: 350px;
    // background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        margin: 65px 0 45px;
    }
    .footer__links {
        margin-bottom: 35px;
        padding: 25px 0;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        width: 100%;
        text-align: center;
        a {
            font-size: 14px;
            color: #777777;
            transition: 1s;

            &:not(:last-child) {
                margin-right: 55px;
            }
            &:hover {
                color: #000;
            }
        }
    }
    p {
        font-size: 13px;
        color: #9c9c9c;
        font-family: "Roboto";
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 35px;
        span {
            color: #000;
        }
    }
    .themes2 {
        height: 30px;
        width: 70px;
        font-size: 14px;
        background: #fff;
        color: rgb(39, 38, 38);
    }

    .footer__btnUp {
        position: fixed;
        right: 15px;
        bottom: 80px;
        // display: flex;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        content: "";
        opacity: 1;
        color: #4d4d4d;
        background: rgb(223, 220, 220);
        justify-content: center;
        align-items: center;
        display: none;
        transition: 1s;
        &.show {
            display: flex;
        }
        &:hover {
            transform: scale(1.5);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
        }
    }
}
