.slider {
    height: 650px;
    height: 100%;
    width: 100%;
    .slider__slides {
        height: 100%;
        width: 100%;
        position: relative;

        .owl-stage {
            display: flex;
            .owl-item {
                flex-basis: auto;
                flex-shrink: 0;
            }
        }

        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 43%;
            width: 90%;
            height: 0;
            left: 5%;
            button {
                outline: none;
                width: 40px;
                height: 40px;
                background: #000;
                border-radius: 50%;
                &.disabled {
                    background: none;
                    border: 1px solid #fff;
                    span {
                        color: #fff;
                    }
                }
                span {
                    font-size: 50px;
                    line-height: 0.5;
                    color: #fff;
                }
            }
        }
        .owl-dots {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 0;
            left: 50%;
            margin-bottom: 50px;
            .owl-dot {
                position: relative;
                width: 10px;
                height: 10px;
                background: #fff !important;
                margin-right: 10px;
                transition: 1s;
                outline: none;
                border-radius: 50%;

                &.active {
                    background: #000 !important;
                }
                span {
                    width: 5px;
                    height: 5px;
                    background: #fff;
                    position: absolute;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .slider__slide {
            position: relative;
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .slider__texts {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h2 {
                    font-size: 48px;
                    letter-spacing: 5px;
                    color: #ffffff;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    background: #000;
                    padding: 0 35px 0 35px;
                    white-space: nowrap;
                    @media screen and (max-width: 730px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 570px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 450px) {
                        font-size: 16px;
                    }
                }
                p {
                    font-size: 18px;
                    color: #000;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.works {
    padding-bottom: 70px;
    padding-top: 35px;
    background: #fafafa;
    .works__nav {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 35px 0 30px;
        .works__btn {
            font-size: 14px;
            color: #777777;
            font-family: "Roboto";
            font-weight: 700;
            text-transform: uppercase;
            margin: 30px;
            cursor: pointer;
            transition: 1s;
            text-align: center;
            user-select: none;
            &.active,
            &:hover {
                color: #000;
            }
        }
        hr {
            height: 30px;
            border: 0.7px solid #dfdfdf;
            transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
            -moz-transform: rotate(20deg);
            -ms-transform: rotate(20deg);
            -o-transform: rotate(20deg);
            display: none;

            &:not(:last-child) {
                display: block;
            }
        }
    }

    .works__items {
        margin-bottom: 40px;
        -moz-column-count: 3;
        column-count: 3;

        @media screen and (max-width: 1150px) {
            -moz-column-count: 2;
            column-count: 2;
        }
        @media screen and (max-width: 810px) {
            -moz-column-count: 1;
            column-count: 1;
        }
        .work__item {
            position: relative;
            margin: 5px;
            display: none;
            animation: appear 1s forwards;
            @keyframes appear {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            &.active {
                display: inline-block;
                width: 100%;
                float: left;
                page-break-inside: avoid;
                break-inside: avoid;
            }
            .works__pic {
                overflow: hidden;
                display: flex;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.384);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: 0.5s;
                // cursor: pointer;
                a {
                    font-size: 40px;
                    font-weight: lighter;
                    color: #c9c9c9;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .works__load {
        background: #000;
        max-width: 200px;
        width: 100%;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto";
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        transition: 1s;
        margin: 0 auto;
        outline: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
            background: #fff;
            color: #000;
        }
    }
    .fileLoad {
        display: none;
    }
}
